:root {
  /* Square energy icon size */
  --energy-size: 35px;
  --energy-size-small: 25px;
  /* Card section padding */
  --card-padding: 10px 20px;
}

#root {
  width: 90%;
  padding: 2rem;
  display: flex;
  margin: 0 auto;
  gap: 1rem;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

#controls-column {
  display: flex;
  flex-direction: column;
  flex: 20%;
  font-size: 85%;
  gap: 1rem;
}

#controls-column label {
  line-height: 1;
}

div.meta {
  display: grid;
  grid-template-columns: minmax(120px, max-content) 1fr;
  align-items: center;
  row-gap: 5px;
  column-gap: 1rem;
}

span.export-status-ok {
  font-weight: bold;
  color: green;
}

span.export-status-old {
  font-weight: bold;
  color: red;
}

div#variants-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

div#variants-list div.variant {
  display: flex;
  gap: 5px;
  place-items: center;
}

div.variant button {
  flex: 5%;
}

div.variant input {
  flex: 95%;
}

#card-editor-column {
  display: flex;
  flex-direction: column;
  flex: 40%;
  place-items: center;
}

#json-editor-column {
  display: flex;
  flex-direction: column;
  flex: 40%;
}

#parse-warnings {
  height: 75px;
  overflow: auto;
}

#json-editor {
  background-color: #161b22;
  height: 805px;
  overflow: auto;
}

div.box {
  border: 1px solid white;
  padding: 0.5em;
}

div.vertical-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.vertical-stack + i { margin-inline-start: 5px }

h4.box-header {
  margin: 0;
  padding: 0 4px;
  font-weight: bold;
  display: inline-flex;
  align-self: flex-start;
  border-radius: 4px 4px 0 0;
  background-color: white;
  color: #242424;
}

#controls-column select.invalid-value {
  background-color: red;
}

button.btn-small {
  margin: 0;
  padding: 1px;
  font-weight: bold;
  border: 1px;
  border-radius: 3px;
  width: 14px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}

#card {
  width: 630px;
  min-height: 880px;
  border: 2px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

#card input, #card select, #card textarea {
  field-sizing: content;
  border: 1px solid #ccc;
}

#card input {
  background: #343434;
  padding-right: 8px;
}

#card textarea {
  background: #343434;
  font-family: inherit;
  font-size: 16px;
}

:root {
  --head-padding: 10px;
  --name-left: 120px;
  --hp-right: 120px;
}

#card-head {
  position: relative;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}
#card-head > * {
  position: absolute;
}

#card-name {
  font-size: 40px;
  left: var(--name-left)
}

#pokemon-stage {
  font-size: 20px;
  left: var(--head-padding);
}

#pokemon-evolves-from {
  background: #242424;
  z-index: 1;
  top: calc(50% + 1.2lh);
  left: var(--name-left);
  padding-inline-start: 1ch;
  font-size: 16px;
  font-style: italic;
  display: flex;
  gap: 1ch;
  align-items: center;
}

#pokemon-evolves-from > input {
  background: none;
  font: inherit;
}

#pokemon-hp-label {
  font-size: 20px;
  right: var(--hp-right);
}

#pokemon-hp {
  font-size: 32px;
  right: calc(var(--hp-right) - 70px)
}

#pokemon-energy-type {
  right: var(--head-padding);
}

#card-art {
  background-color: #888;
  width: 100%;
  height: 300px;
  background: url(/images/card-art.jpeg);
  background-size: cover;
  background-position: center;
  filter: grayscale(1) contrast(0.6) brightness(0.4);
}

#card-foot {
  padding: var(--card-padding);
  display: grid;
  grid-template-areas:
    "illus  rules"
    "number rules"
    ".      rules";
  grid-template-columns: auto 1fr;
  column-gap: 5rem;
}
#card-illustrator {
  grid-area: illus;
}
#card-number {
  grid-area: number;
  justify-self: flex-start;
}
#card-description {
  font-size: 22px;
}

#pokemon-card-text {
  padding: var(--card-padding);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

#pokemon-attacks, #pokemon-effects {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#pokemon-attacks > button, #pokemon-effects > button {
  margin: 5px;
  align-self: flex-start;
}

.pokemon-attack, .pokemon-effect {
  height: calc(var(--energy-size) + 4px);
}

.pokemon-attack, .pokemon-effect, .pokemon-attack-description, .pokemon-effect-description {
  display: flex;
  align-items: center;  
}

.pokemon-effect-type {
  flex: 25%;
}

.pokemon-effect-type input {
  font-size: 120%;
}

.pokemon-effect-name {
  flex: 75%;
}

.pokemon-effect-name input {
  font-size: 140%;
}

.pokemon-attack-energies {
  flex: 25%;
  display: flex;
}

.pokemon-attack-name {
  flex: 60%;
}

.pokemon-attack-name input {
  font-weight: bold;
  font-size: 150%;
}

.pokemon-attack-damage {
  flex: 15%;
}

.pokemon-attack-damage input {
  font-weight: bold;
  font-size: 150%;
}

.pokemon-attack-description div, .pokemon-effect-description div {
  flex: 5%;
  text-align: center;
}

.pokemon-attack-description textarea, .pokemon-effect-description textarea {
  flex: 95%;
}

#card-rules {
  grid-area: rules;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  gap: 5px;
}
#card-rules > button {
  align-self: flex-start;
}

.card-rule {
  display: flex;
  align-items: center;
}

.card-rule div {
  flex: 5%;
  text-align: center;
}

#card-rules .card-rule textarea {
  flex: 95%;
  font-size: 13px;
}

#pokemon-res-bar {
  padding: var(--card-padding);
  font-size: 16px;
  border: 1px solid white;
  border-width: 1px 0;
  display: grid;
  /* Tweak the column size for each resource. */
  grid-template-columns: 2fr 3fr 2fr;
  /* Optional. */
  min-height: 56px;
}

#card .resource {
  display: flex;
  flex-direction: column;
}
#card .resource > h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
#card .resource > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
#card .resource > div > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2px;
}

.resource input {
  padding: 4px;
  min-width: 2ch;
}

#card i {
  display: inline-block;
  width: var(--energy-size);
  height: var(--energy-size);
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('icons/energies/unknown.svg');
}

#card i.e-small {
  width: var(--energy-size-small);
  height: var(--energy-size-small);
}

div.energies-list {
  background-color: #242424;
  padding: 10px;
  border: 1px solid white;
  z-index: 3;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
}

div.energies-list i {
  margin: 1px;
}

i.e-grass { background-image: url('icons/energies/grass.png') !important; }
i.e-fire { background-image: url('icons/energies/fire.png') !important; }
i.e-water { background-image: url('icons/energies/water.png') !important; }
i.e-lightning { background-image: url('icons/energies/lightning.png') !important; }
i.e-psychic { background-image: url('icons/energies/psychic.png') !important; }
i.e-fighting { background-image: url('icons/energies/fighting.png') !important; }
i.e-darkness { background-image: url('icons/energies/darkness.png') !important; }
i.e-metal { background-image: url('icons/energies/metal.png') !important; }
i.e-fairy { background-image: url('icons/energies/fairy.png') !important; }
i.e-dragon { background-image: url('icons/energies/dragon.png') !important; }
i.e-colorless { background-image: url('icons/energies/colorless.png') !important; }
